body {
    margin-left: auto;
    margin-right: auto;
 }
a img {
    border: none;
    outline: none;
}
@font-face {
    font-family: Verdana;
    src: url("fonts/Verdana.ttf");
}
.clr {
    clear: both;
}
.header {
	width: 1257px;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	margin-top: 10px;
	margin-left: 35px;
	width: 386px;
	height: 120px;
	float: left;
} 
.top-menu {
	font-size: 20px;
	font-family: Verdana;
	float: right;
	padding: 50px 10px 0;
	margin-bottom: 20px;
}
.top-menu ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.top-menu ul li {
	list-style-type: none;
	float: left;
}
.top-menu li a {
    display: inline-block;
    color: #414042;
    padding: 9px 15px 9px 15px;
    text-decoration: none;
}
.top-menu li a:hover  {
	color: #ffffff;
	background-color: #414042;
}
.telephone {
	width: 252px;
	height: 28px;
	margin-left: 45px; 
	margin-top: 20px;
	padding-left: 24px;
	font-size: 19px;
	font-family: Verdana;
	font-weight: bold;
	color: #414042;
	float: left;
	clear: both;
	background: url("../images/telephone.png") no-repeat;
}
.search {
	margin-top: -45px;
	margin-right: 25px;
	width: 273px;
	height: 46px;
	float: right;
	clear: both;
	background: url("../images/search.png");
}
.search input {
	border: none;
	margin-top: 14px;
	margin-left: 36px;
	outline: none;
	background: transparent;
}
.banner {
	margin-top: 193px;
	width: 1257px;
	height: 566px;
	background: url("../images/banner.jpg") no-repeat;
	position: relative;
}
.link {
	top: 415px;
	left: 90px;
	position: absolute;
	font-size: 24px;
	font-family: Verdana;
	color: #ffffff;
}
.link a {
	color: #ffffff;
}
.page {
	width: 1257px;
	margin: 0 auto;
	overflow: hidden;
}
.content {
	margin-top: 20px;
	width: 1257px;
	height: 640px;
	margin-left: 45px;
}
.picture1 {
	float: left;
	margin-right: 35px;
}
.picture2 {
	float: left;
}
.picture3 {
	float: right;
	margin-right: 70px;
}
.tit-picture {
	border-top: 7px solid #2c86ee;
    background: #d9dde0;
    height: 103px;
    width: 373px;
    font-size: 20px;
    font-family: Verdana;
    color: #414042;
}
.tit-picture p {
	margin-left: 20px;
	margin-top: 13px;
}
.image-picture {
	height: 286px;
    width: 373px;
    margin-top: 20px;
}
.text-picture {
	height: 156px;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
    font-family: Verdana;
    color: #414042;
}
.category-link {
	font-size: 20px;
    font-family: Verdana;
    display: block;
    width: 230px;
    height: 51px;
    line-height: 51px;
    margin-left: 15px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background: #2c86ee;
}
.news {
	float: left;
	width: 373px;
    height: 617px;
    margin-top: 43px;
    margin-left: 45px;
    font-size: 20px;
    font-family: Verdana;
    color: #2c86ee;
}
.news h4 {
	font-weight: normal;
}
.date {
	margin-top: 20px;
	color: #3e3e3e;
}
.readmore {
	color: #2c86ee;
	font-family: Verdana;
	font-style: italic;
	font-size: 16px;
}
.newsflash-title {
	margin: 0;
}
.moduletable p {
	color: #3e3e3e;
	font-size: 29px;
	font-weight: bold;
	margin-top: 15px;
}
.article {
	float: right;
	margin-top: 40px;
	margin-right: 35px;
	width: 778px;
    height: 617px;
    font-size: 20px;
    font-family: Verdana;
    background: #e4e9ec;
    position: relative;
}
.text-article {
	padding: 0 67px 53px 36px;
	float: left;
	color: #414042;
}
.image-article {
	margin: 18px -15px 0 10px;
	float: right;
	width: 319px;
	height: 330px;
}
.link1-article {
	top: 554px;
	left: 441px;
	font-size: 20px;
	font-family: Verdana;
	position: absolute;
}
.link1-article a {
	color: #2c86ee;
}
.link2-article {
	top: 579px;
	left: 462px;
	font-size: 20px;
	font-family: Verdana;
	position: absolute;
}
.link2-article a {
	color: #2c86ee;
}
.footer {
	height: 150px;
	margin-top: 22px;
	overflow: hidden;
	font-size: 20px;
	font-family: Verdana;
	color: #ffffff;
	background: #414042;
}
.footer-content1 {
	float: left;
	height: 160px;
	width: 472px;
	margin-top: -10px;
	border-right: 2px solid #3b5574;
}
.footer-content1 h4 {
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: -5px;
	margin-left: 42px;
}
.footer-content1 p {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 5px;
	margin-left: 42px;
}
.mail input {
	height: 26px;
	margin-left: 42px;
}
.checkbox input {
	margin-top: 10px;
	height: 22px;
	width: 22px;
	margin-left: 42px;
}
.footer-content2 {
	float: left;
	height: 160px;
	width: 395px;
	margin-top: -10px;
	border-right: 2px solid #3b5574;
}
.footer-content2 h4 {
	text-transform: uppercase;
	font-weight: normal;
	margin-left: 80px;
	margin-bottom: -10px;
}
.footer-content2 p {
	font-size: 20px;
	font-weight: bold;
	margin-left: 64px;
}
.footer-content3 {
	float: right;
	height: 160px;
	width: 444px;
	margin-top: -10px;
}
.footer-content3 h4 {
	text-transform: uppercase;
	font-weight: normal;
	margin-left: 120px;
	margin-bottom: 10px;
}
.footer-content3 a {
	margin-left: 38px;
	color: #ffffff;
	font-weight: normal;
}
.basket {
	display: block;
	margin-left: 1026px;
	height: 45px;
    line-height: 50px;
    padding-left: 45px;
    background: url("../images/basket.png") no-repeat left;
}
.basket a {
	color: #414042;
	font-family: Verdana;
    font-size: 21px;
    font-weight: bold;
}
#jshop_module_cart {
	width: 100%;
}
.goto_cart {
	color: #414042;
	font-family: Verdana;
    font-size: 19px;
    font-weight: bold;
}
.jshop.cart {
	width: 770px;
	float: left;
	margin-left: 15px;
}
table.jshop {
	float: left;
	width: 100px;
	margin: 20px 0 0 15px;
}
.cart_empty_text {
	margin-top: 50px;
	float: left;
	margin-right: 520px;
}
.jshop.cart_buttons {
	float: right;
	width: 120px;
	height: 30px;
	margin: 15px 40px 0 0;
}
.pull-right.td_2 a {
	color: #ffffff;
	text-decoration: none;
}
.btn {
	font-size: 15px;
    font-family: Verdana;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin-left: 11px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background: #2c86ee;
}
.category-list {
	width: 363px;
	margin-left: 45px;
	background: #d5d9dc;
    background: linear-gradient(to bottom, #d5d9dc, #e1e6e9, #eff4f7);
    float: left;
    font-family: Verdana;
    font-size: 24px;
    padding: 35px 0 0 20px;
    border-top: 7px solid #2c86ee;
    overflow: hidden;
    margin-right: 15px;
}
.category-list a {
	color: #414042;
}
.jshop_menu_level_0 {
	margin-bottom: 40px;
}
.jshop_menu_level_0_a {
	margin-bottom: 40px;
}
.jshop_menu_level_0_a a {
	color: #2c86ee;
	font-weight: normal !important;
}
.breadcrumbs {
	float: left;
	margin-left: 7px;
	margin-top: -5px;
}
ul.breadcrumb {
    padding: 0;
    margin: 0;
}
.breadcrumbs ul li {
	color: #2c86ee;
	list-style-type: none;
	display: inline-block;
	font-size: 12px;
	font-family: Verdana;
	text-decoration: underline
}
.breadcrumbs a {
	color: #414042;
}
.category_description {
	margin-right: 24px;
	width: 780px;
	float: right;
	font-family: Verdana;
	font-size: 19px;
	color: #414042;
}
#mxcpr {   
    display: none;
}
div.row-fluid [class*="sblock"] {
    padding-left: 0;
}
.jshop_list_category {
	float: right;
	width: 786px;
	margin-right: 15px;
}
.category_name { 
	border-top: 7px solid #2c86ee;
	width: 373px;
	height: 38px;
	font-family: Verdana;
    font-size: 20px;
	background: #d6dadd;
	margin-bottom: 10px;
}
.product_link {
	margin-top: 5px;
	display: block;
	text-align: center;
	color: #414042;
}
.sblock2.image {
	width: 373px;
	height: 236px;
}
.jshop_list_product {
	float: right;
	width: 780px;
	margin-right: 27px;
}
.jshop_list_product .product .image{
	float: left;
	margin-bottom: 60px;
}
.jshop_list_product .product .name {
	font-family: Verdana;
	font-size: 14px;
	width: 216px;
	text-align: left;
	float: right;
	padding-right: 7px;
	padding-bottom: 10px;
}
.jshop_list_product .product .name a {
	color: #2c86ee;
}
.jshop_list_product .product .jshop_price {
	color: #414042;
	font-size: 25px;
	font-weight: bold;
    font-family: Verdana;
    text-align: left;
    margin-left: 10px;
    float: left;
    margin-bottom: 30px;
}
.buttons {
	float: left;
}
.btn.btn-success.button_buy {
	font-size: 18px;
    font-family: Verdana;
    display: block;
    width: 160px;
    height: 42px;
    line-height: 42px;
    margin-left: 12px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background: #2c86ee;
}
.btn.button_detail {
	display: none;
}
.jshop.productfull {
	float: right;
	margin-right: 42px;
	width: 760px;
}
.jshop.productfull h1 {
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: normal;
	color: #414042;
}
.text_zoom {
	display: none;
}
.jshop_prod_description {
	margin-top: 30px;
	color: #414042;
	font-size: 20px;
	font-family: Verdana;
	letter-spacing: -2px;
}
.prod_price {
	margin-top: 30px;
}
.productfull #block_price  {
	font-size: 24px;
    font-family: Verdana;
    color: #414042;
    font-weight: bold;
}
.btn.btn-primary.button {
	margin-top: 50px;
	font-size: 15px;
    font-family: Verdana;
    display: block;
    width: 180px;
    height: 42px;
    line-height: 42px;
    margin-left: -10px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background: #2c86ee;
    border: none;
}
.but {
	margin-left: -10px;
}
.jshop.pagelogin {
	float: right;
	margin-top: 30px;
	margin-right: 330px;
}
input.btn.button {
	width: 180px;
	height: 42px;
}
#jshop_menu_order {
	width: 600px;
	margin-right: 180px;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}
.jshop.address_block {
	float: right;
	margin-right: 465px;
}
.jshop.checkout_payment_block {
	float: right;
	margin-right: 520px;
}
.jshop.checkout_shipping_block {
	float: right;
	margin-right: 510px;
}
.jshop.checkout_pfinish_block {
	float: right;
	margin-right: 470px;
}
.box_button {
	font-size: 10px;
}
.thank {
	float: right;
	width: 200px;
	margin-top: 20px;
	margin-right: 600px;
}
.pagination ul {
	list-style-type: none;
}
.pagination ul li {
	float: left;
	padding-right: 10px;
	font-size: 18px;
	font-weight: bold;
	font-family: Verdana;
	color: #2c86ee;
}
